<html>
    <head>
        <meta charset="UTF-8">
        <title>Cacading Style Sheet</title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <style>

        </style>
    </head>
    <body>
        <h1>기본 그래프 보기</h1>
        <hr/>
        <button onclick="showFig('showFig','image')">이미지로 보기</button>
        <button onclick="showFig('showFig','html')">HTML로 보기</button>
        <br/>
        <button onclick="showFig('sub_plot','image')">subplot 이미지로 보기</button>
        <button onclick="showFig('sub_plot','html')">subplot HTML로 보기</button>
        <div id="area"></div>
    </body>
    <script>
        function showFig(url,type){
            $.ajax({
                type:'GET',
                url:'/'+url+'?type='+type,
                dataType:'html',
                success:function(obj){
                    console.log(obj);
                    $('#area').html(obj);
                },error:function(err){
                    console.log(err);
                }
            });
        }
    </script>
</html>